.mais_vendidos {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 80px;
    margin-left: 140px;
}

.mais_vendidos p {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--text2);
}


.vendidos_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
      
}


.sells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px;
}

.cards {
    background-color: var(--cardbg);
    width: 300px;
    height: 426px;
    margin-top: 30px;
    border-radius: 15px;
    
}


.list_card {
    list-style-type: none;
}

.fone_card {
    display: flex;
    justify-content: center;
    align-items: center;  
}


.fone_card img {
    margin-top: 20px;
}

.title_card {
    font-weight: 700;
    width: 255px;
    color: var(--text2);
    margin-top: 23px;
    margin-left: 25px;
}

.reviews_card {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.review_card {
    font-size: 12px;
    color: var(--text2);
}

.preco1_card {
    color: var(--text2);
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 25px;
   

}

.preco2_card {
    color: var(--preco);
    font-weight: 700;
    margin-left: 25px;

}

.preco3_card {
    color: var(--text2);
    font-size: 12px;
    margin-left: 25px;
    
}

.comprar_card {
    background-color: var(--compra);
    padding: 10px 5px;
    width: 300px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    border: none;
}

.comprar_card:hover {
   background-color: #00833d;
}

.comprar_card span {
    color: #fff;
    font-weight: 700;
} 


@media (max-width: 1050px) {
    .mais_vendidos {
        margin-left: 10px;
    }
}


@media (max-width: 1350px) {
    .sells {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 45px;
    }
}


@media (max-width: 1020px) {
    .sells {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
    }
}

@media (max-width: 680px) {
    .sells {
        display: grid;
        grid-template-columns: 1fr;
        gap: 45px;
    }
}